<%= simple_form_for @blog, html: { multipart: true } do |f| %>

  <div class="form-inputs" data-no-turbolink>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :teaser %>
      <%= f.text_field :teaser, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Text for Linked PDF" %>
      <%= f.text_field :link_text, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Exact Filename for Linked PDF (No quotes; Start with 'app/assets/images/')" %>
      <%= f.text_field :link_filename, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.input :tag_list, :label => "Tags (seperated by commas)", :input_html => { :class => "form-control", :value => @blog.tag_list.join(", ") } %>
    </div>
    <div class="form-group">
      <%= f.label "Picture" %>
      <%= f.file_field :image, as: :file %>
    </div>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: "ckeditor" %>
    </div>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit %>
  </div>
<% end %>
