<!-- page-specific content -->
  <% title "Real Estate Blog" %>
  <%= content_for :head do %>
    <meta name="description" content="Real estate is a complex and changing field.  In this blog we cover topics from homebuying 101 to recent news events." />
  <% end %>
<!-- page-specific content -->

<div class="responsive-hero-div">
	<%= image_tag "cliff.jpg", class: "responsive-hero-img", alt: "Houses on a hill overlooking the ocean in Laguna Beach, California." %>

	<div class="overlap-responsive-image text-center slideRight">
		<div class="gradient-overlay">
			<h1 class="color-blue-dark">What You Need to Know</h1>
			<h4>Real estate is a complex and changing field.  In this blog we cover topics from homebuying 101 to recent news events.</h4>
      <h3 class="text-center"><a href="#subscriptionPopup" class="open-popup-link btn" onclick="ga('send',{'hitType': 'event','eventCategory': 'join', 'eventAction': 'Blog Subscribe'})">Alert Me for New Blogs!</a></h3>
		</div> <!-- absolute box -->
	</div> <!-- overlap image -->

</div> <!-- responsive-hero-div -->

<div class="row blue-stripe text-center">
	<div id="tag_cloud">
		<% tag_cloud Blog.tag_counts, %w[s m l] do |tag, css_class| %>
		<%= link_to tag.name, tag_path(tag.name), class: css_class, onclick: "ga('send',{'hitType': 'event','eventCategory': 'click', 'eventAction': 'Click Blog Tag'})" %>
		<% end %>
	</div> <!-- col -->
</div> <!-- row w id -->

<div class="container" data-no-turbolink>
  <% if current_user && current_user.admin %>
    <div class="text-right" style="margin-top: 15px"><%= link_to 'New Blog', new_blog_path %></div>
  <% end %>

  <div class="row">
    <% @blogs.each do |blog| %>
      <%= link_to blog do %>
        <div class="card" onclick="ga('send',{'hitType': 'event','eventCategory': 'click', 'eventAction': 'Click Blogs Individual Blog'})">
          <div class="image-box">
	            <%= image_tag url_for(blog.image), alt: blog.teaser if blog.image.attached?  %>
          </div> <!-- padding box -->

          <div class="padding-box">
            <div class="top-text">
              <h2><%= blog.title %></h2>
              <p><%= blog.teaser %></p>
              <p><%= raw blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
            </div> <!-- top text -->
            <% if current_user && current_user.admin %>
              <div class="bottom-text text-center">
                <%= link_to('Edit', edit_blog_path(blog), data: { turbolinks: false }) %>
                |&nbsp;<%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>
          </div> <!-- padding box -->
        </div> <!-- card -->
      <% end %> <!-- link -->
    <% end %> <!-- blog each do -->
  </div> <!-- row -->

</div> <!-- container -->

<div class="bottom-buffer"></div>




<!-- new person popup itself -->
<div id="subscriptionPopup" class="white-popup mfp-hide">
  <h2 class="text-center">Get Wisdom in Your Inbox</h2>
  <%= render partial: "layouts/new_subscriber", locals: { tags: "interest-blog, index-subscription" } %>
</div>




<script>
  $(document).ready(function() {
      $('.card').matchHeight();
      $('.top-text').matchHeight();

      $('.open-popup-link').magnificPopup({
        type:'inline',
        midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
      });
  });
</script>
