<!-- page-specific content -->
  <% title "Real Estate Blog" %>
  <%= content_for :head do %>
    <meta name="description" content="Real estate is a complex and changing field.  In this blog we cover topics from homebuying 101 to recent news events." />
  <% end %>
<!-- page-specific content -->






<!-- Main layout -->
<main>

  <div class="view jarallax" style="height: 60vh;">
    <img class="jarallax-img" src="<%= asset_path("cliff.jpg") %>" alt="Linchpin Realty Blog">
    <div class="mask rgba-stylish-light">
      <div class="container flex-center text-center">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <h1 class="display-3 mb-2 wow fadeInDown color-white" data-wow-delay="0.3s">What You Need to&nbsp;Know</h1>
            <!-- <h5 class="text-uppercase mb-3 mt-1 color-white font-weight-bold wow fadeIn" data-wow-delay="0.4s">Real estate is a complex and changing field. In this blog we cover topics from homebuying 101 to recent news events.</h5> -->
            <a href="#blogs" class="btn btn-primary btn-lg wow fadeIn" data-wow-delay="0.4s">Browse the Blog</a>
            <% if current_user && current_user.admin %>
              <%= link_to 'New Blog', new_blog_path, class: "btn btn-primary btn-lg wow fadeIn" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row my-4">
      <div class="col-md-12 text-center">
        <h2 class="h1 font-weight-bold color-blue-dark pb-2">
          Browse Blogs by Subject
        </h2>
        <div id="tag_cloud">
          <% tag_cloud Blog.tag_counts, %w[s m l] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class, onclick: "ga('send',{'hitType': 'event','eventCategory': 'click', 'eventAction': 'Click Blog Tag'})" %>
          <% end %>
        </div> <!-- col -->
      </div> <!--Grid column-->
    </div> <!--Grid row-->
  </div> <!-- container-->









  <div class="view jarallax" style="min-height: 300px; height: auto">
    <img class="jarallax-img" src="<%= asset_path("background.jpg") %>" alt="Linchpin Realty Blog" >
    <div class="mask rgba-stylish-strong">
      <div class="container flex-center text-center">
        <div class="row pt-3">
          <div class="col-12">
            <h2 class="font-weight-bold text-white">Never Miss a Thing</h2>
          </div>
          <div class="col-12">
            <%= render partial: "subscribers/mini_form", locals: { subscriber: @new_subscriber, tag_string: "blog-index-subscribe" } %>
          </div>
        </div> <!-- row -->
      </div>
    </div>
  </div>




  <div id="blogs" class="container py-3">
    <div class="row">
      <% @blogs.each do |blog| %>
      <%= render partial: "layouts/blog_card", locals: { blog: blog } %>
      <% end %> <!-- blog each do -->
    </div> <!-- row -->
  </div> <!-- container -->




</main> <!-- Main layout -->





<script>
  $(document).ready(function() {
    // object-fit polyfill run
    objectFitImages();
    /* init Jarallax */
    jarallax(document.querySelectorAll('.jarallax'));
    jarallax(document.querySelectorAll('.jarallax-keep-img'), {
        keepImg: true,
    });
  });
</script>
