<div class="image-container">
	<%= image_tag "cliff.jpg", style: "top: 0", alt: "Houses on a hill overlooking the ocean in Laguna Beach, California." %>
</div>

<div class="overlap-image text-center">
	<h1 style="padding-top: 150px; margin-top: 0px"></h1>
</div>

<div class="container" data-no-turbolink>
  <% if current_user && current_user.admin %>
    <div class="text-right" style="margin-top: 15px"><%= link_to 'New Blog', new_blog_path %></div>
  <% end %>

  <div class="header-row">
    <h1>What You Need to Know</h1>
  </div>

	<div class="row text-center">
		<div id="tag_cloud">
		  <% tag_cloud Blog.tag_counts, %w[s m l] do |tag, css_class| %>
		    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
		  <% end %>
		</div> <!-- col -->
	</div> <!-- row w id -->

  <div class="row">
    <% @blogs.each do |blog| %>
      <%= link_to blog do %>
        <div class="card">
          <div class="image-box">
            <%= image_tag blog.image.url, alt: blog.teaser %>
          </div> <!-- padding box -->
          <div class="padding-box">
            <h1><%= blog.title %></h1>
            <p><%= blog.teaser %></p>
						<p><strong><%= raw blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></strong></p>
            <p>
							<em>By <%= blog.user.first_name %> <%= blog.user.last_name %></em>
	            <% if current_user && current_user.admin %>
	              <%= link_to('Edit', edit_blog_path(blog), data: { turbolinks: false }) %>
	              <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
	            <% end %>
						</p>
          </div> <!-- padding box -->
        </div> <!-- card -->
      <% end %> <!-- link -->
    <% end %> <!-- blog each do -->
  </div> <!-- row -->

</div> <!-- container -->

<div class="bottom-buffer"></div>


<script>
  $(function() {
      $('.card').matchHeight();
  });
</script>
