<!-- page-specific content -->
  <% title @blog.title %>
  <%= content_for :head do %>
    <meta name="description" content="<%= @blog.teaser %>" />
  <% end %>
  <!-- page-specific content -->

  <!-- Event snippet for Download Blog PDF conversion page -->
  <script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
          'send_to': 'AW-803011261/H0l_CPKTioQBEL318_4C',
          'event_callback': callback
      });
      return false;
    }
  </script>
<!-- end page specific content -->

<div class="image-container">
    <%= image_tag @blog.image, style: "bottom: 0", alt: @blog.teaser if @blog.image.attached? %>
</div>

<div class="overlap-image text-center">
  <div class="gradient-bottom slideRight">
    <h2 class="font-sans"><%= @blog.teaser %></h2>
  </div> <!-- absolute-bottom-transparent -->
</div> <!-- overlap-image -->

<div class="container blog-page">

  <div class="card no-hover full-width blog"><div class="padding-box">
    <div class="text-center">
      <h4>
        <% if current_user && current_user.admin %>
          <%= link_to 'Edit', edit_blog_path(@blog) %> |
        <% end %>
        <%= link_to 'Back', blogs_path %>
      </h4>
    </div> <!-- centered -->

    <div class="header-row">
      <h1><%= @blog.title %></h1>
      <% if @blog.pillars_id && @pillar.name != " " %>
        <h3 style="margin-top: 0px"><%= @pillar.name %></h3>
      <% end %>
      <% if @blog.image.attached? %>
        <div class="text-center" onclick="ga('send',{'hitType': 'event','eventCategory': 'share', 'eventAction': 'Blogs Social Share'})"><%= social_share_button_tag(@blog.title, image: url_for(@blog.image), 'data-title' => @blog.title, 'data-url' => blog_url(@blog), 'data-quote' => @blog.teaser) %></div>
      <% end %>
      <% if @blog.link_filename %>
        <h3 class="linkish" style="padding: 0px 40px 0 40px">
          <%= link_to download_pdf_path(@blog), type: "application/pdf", onclick: "ga('send',{'hitType': 'event','eventCategory': 'downloads', 'eventAction': 'Download Blog PDF'}); gtag_report_conversion();" do %>
            <%= @blog.link_text %>
          <% end %>
        </h3>
      <% end %>
      <h3>By <%= @blog.user.first_name %> <%= @blog.user.last_name %></h3>
      <div class="row"><hr class="col-xs-6 col-xs-push-3" /></div>
      <!-- <h4>Tags: <%= raw @blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></h4> -->
    </div> <!-- header row -->
    <%= @blog.body.html_safe %>

    <div class="row">
      <hr class="col-xs-6 col-xs-push-3" style="border-color: #c0c0c0" />
    </div>

    <div class="new-comment">
      <%= simple_form_for [@blog, Comment.new] do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs col-xs-12" style="margin-bottom: 10px">
          <%= f.label "Add a Comment" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>

        <% if @user %>
          <%= f.hidden_field :name, value: [@user.first_name, @user.last_name].join(' ') %>
          <%= f.hidden_field :email, value: @user.email %>
        <% else %>
          <div class="form-inputs col-sm-6">
            <%= f.label "Your Name" %>
            <%= f.text_field :name, class: "form-control", required: true, placeholder: "e.g. Warren Buffett" %>
          </div>
          <div class="form-inputs col-sm-6">
            <%= f.label "Your Email (Not Displayed)" %>
            <%= f.text_field :email, class: "form-control", required: true, placeholder: "e.g. wbuffett@gmail.com" %>
          </div>
        <% end %>

        <div class="form-actions text-right">
          <%= f.button :submit, "Submit Comment", onclick: "ga('send',{'hitType': 'event','eventCategory': 'contribute', 'eventAction': 'Create Blog Comment'})" %>
        </div>
      <% end %>
    </div>

    <h2><%= pluralize(@comments.count, "Comment") %></h2>
    <div class="old-comment">
      <% @comments.each do |comment| %>
        <p style="margin-top: 10px"><strong><%= comment.body %></strong>
          <%= link_to blog_comment_path(@blog, comment), method: :delete, data: {confirm: "Are you sure you want to delete that comment?"} do %><span class="glyphicon glyphicon-remove"></span><% end %><br />
          <em>by <%= comment.name %> on <%= comment.created_at.to_formatted_s(:long) %></em></p>
      <% end %>
    </div>

  </div></div> <!-- padding box and card -->

  <div class="buffer"></div>

  <% if @related.any? && @blog.pillars_id && @pillar.name != " " %>
    <div class="row blue-stripe">
      <div class="container">
        <h2 class="text-center">Other Blogs about <%= @pillar.name %></h2>
        <% @related.each do |blog| %>
          <%= link_to blog_path(blog) do %>
            <div class="card blog-card col-xs-6 col-md-3">
                <%= image_tag url_for(blog.image), alt: blog.title if blog.image.attached? %>
                <h3><%= blog.title %></h3>
                <p><%= blog.teaser %></p>
                <p><em><%= link_to "Read More", blog_path(blog) %>...</em></p>
            </div> <!-- card -->
          <% end %> <!-- link -->
        <% end %> <!-- blogs each -->
      </div> <!-- container -->
    </div> <!-- row -->
  <% end %>

</div> <!-- container -->

<div class="row bottom-buffer"></div>


<script>
  $(function() {
      $('.blog-card').matchHeight();
  });
</script>
