<!-- page-specific content -->
  <% title @blog.title %>
  <%= content_for :head do %>
    <meta name="description" content="<%= @blog.teaser %>" />
    <meta property="og:url" content="<%= polymorphic_url(@blog) %>" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= @blog.title %>" />
    <meta property="og:description" content="<%= @blog.teaser %>" />
    <meta property="og:image" content="<%= rails_blob_url(@blog.image) if @blog.image.attached? %>" />
    <meta property="article:published_time" content="<%= @blog.updated_at.strftime('%FT%T') %>" />
    <meta property="article:author" content="<%= @blog.user.first_name %> <%= @blog.user.last_name %>" />
  <% end %>
  <!-- page-specific content -->

  <!-- Event snippet for Download Blog PDF conversion page -->
  <script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
          'send_to': 'AW-803011261/H0l_CPKTioQBEL318_4C',
          'event_callback': callback
      });
      return false;
    }
  </script>
<!-- end page specific content -->

<div class="frame" style="background-image: url(<%= rails_blob_url(@blog.image) if @blog.image.attached? %>)"></div>

<div class="overlap-image text-center">
  <div class="gradient-bottom slideRight">
    <h1 class="color-blue-dark"><%= @blog.title %></h1>
  </div> <!-- absolute-bottom-transparent -->
</div> <!-- overlap-image -->


<div class="container blog-page">
  <div class="text-right">
    <% if current_user && current_user.admin %>
      <%= link_to 'Edit Blog', edit_blog_path(@blog) %>
    <% end %>
  </div> <!-- centered -->

  <div class="text-center">
    <h2 class="color-blue-dark"><%= @blog.teaser %></h2>
    <% if @blog.pillars_id && @pillar.name != " " %>
      <h4 style="margin-top: 0px"> In <%= @pillar.name %>, by <%= @blog.user.first_name %> <%= @blog.user.last_name %></h4>
    <% end %>
    <% if @blog.image.attached? %>
      <div class="text-center" onclick="ga('send',{'hitType': 'event','eventCategory': 'share', 'eventAction': 'Blogs Social Share'})">
        <!-- sharing links -->
        <div class="fb-share-button"
          data-href="<%= polymorphic_url(@blog) %>"
          data-layout="button_count">
        </div>
        <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"></a>
      <!-- end sharing links -->
      </div>
    <% end %>
  </div> <!-- centered -->
</div> <!-- container -->


<% if @blog.optin %>
  <div class="half-buffer"></div>

  <div class="blue-stripe text-center">
    <h2>Want to Cut to the Chase?</h2>
    <div class="container">
      <% if current_user %>
        <h3>Get Your <%= @blog.link_text %> Now</h3>
        <%= link_to "Let's Go", @blog.link_filename, class: "btn hover-grey", target: "_blank", onclick: "ga('send',{'hitType': 'event','eventCategory': 'downloads', 'eventAction': 'Member Download Blog PDF'}); gtag_report_conversion();" %>
      <% else %>
        <div class="new-card border">
          <h3>Get Your <%= @blog.link_text %> Now</h3>
          <%= render partial: "layouts/new_subscriber_wide", locals: { tags: @blog.optin_tags } %>
        </div> <!-- card -->
      <% end %>
    </div> <!-- header row -->
  </div> <!-- blue stripe -->

  <div class="half-buffer"></div>
<% end %>



<div class="container">
  <div class="card no-hover full-width blog"><div class="padding-box">
    <%= @blog.body.html_safe %>
  </div></div> <!-- padding box and card -->


  <% if @blog.optin %>
    <div class="half-buffer"></div>

      <div class="text-center">
        <h2>Want More Information?</h2>
        <% if current_user %>
          <h3>Get Your <%= @blog.link_text %> Now</h3>
          <%= link_to "Let's Go", @blog.link_filename, target: "_blank", onclick: "ga('send',{'hitType': 'event','eventCategory': 'downloads', 'eventAction': 'Member Download Blog PDF'}); gtag_report_conversion();" %>
        <% else %>
          <div class="">
            <h3 class="text-center">Get Your <%= @blog.link_text %> Now</h3>
            <%= render partial: "layouts/new_subscriber_wide", locals: { tags: @blog.optin_tags } %>
          </div> <!-- card -->
        <% end %>
      </div> <!-- header row -->

    <div class="half-buffer"></div>
  <% end %>
</div> <!-- container -->


<div class="blue-stripe">
  <!-- sharing links -->
  <div class="container text-center">
    <h2 class="font-script">Care to Share?</h2>
    <div class="fb-share-button"
      data-href="<%= polymorphic_url(@blog) %>"
      data-layout="button_count">
    </div>
    <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"></a>

    <div class="half-buffer"></div>

    <% if @blog.pins.attached? %>
      <div class="pinterest-image row padded pin-image-stripe">
        <div class="container">
          <% @blog.pins.each do |image| %>
            <%= image_tag url_for(image)%>
          <% end %>
        </div>
      </div>
    <% end %>
  </div> <!-- text center container -->
  <div class="half-buffer"></div>

</div> <!-- blue stripe -->


<div class="container">
  <div class="buffer"></div>

  <div class="comments">
    <div id="disqus_thread"></div>
    <script>

    var disqus_config = function () {
      this.page.url = "<%= polymorphic_url(@blog) %>";  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "<%= @blog.id %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://linchpin-realty.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div> <!-- comments -->

</div> <!-- container -->


  <% if @related.any? && @blog.pillars_id && @pillar.name != " " %>
    <div class="buffer"></div>

    <div class="row blue-stripe">
      <div class="container">
        <h2 class="text-center">Other Blogs about <%= @pillar.name %></h2>
        <% @related.each do |blog| %>
          <%= link_to blog_path(blog) do %>
            <div class="card blog-card col-xs-6 col-md-3">
                <%= image_tag url_for(blog.image), alt: blog.title if blog.image.attached? %>
                <h3><%= blog.title %></h3>
                <p><%= blog.teaser %></p>
                <p><em><%= link_to "Read More", blog_path(blog) %>...</em></p>
            </div> <!-- card -->
          <% end %> <!-- link -->
        <% end %> <!-- blogs each -->
      </div> <!-- container -->
    </div> <!-- row -->
  <% end %>


<div class="row bottom-buffer"></div>


<script>
  $(function() {
      $('.blog-card').matchHeight();
  });
</script>
