<div class="image-container">
    <%= image_tag @blog.image.url, style: "bottom: 0", alt: @blog.teaser %>
</div>

<div class="overlap-image text-center">
  <div class="gradient-bottom slideRight">
    <h1><%= @blog.title %></h1>
  </div> <!-- absolute-bottom-transparent -->
</div> <!-- overlap-image -->

<div class="container">

  <div class="card no-hover full-width blog"><div class="padding-box">
    <div class="header-row">
      <h3><%= @blog.teaser %></h3>
      <p>By <%= @blog.user.first_name %> <%= @blog.user.last_name %></p>
      <div class="text-center" style="margin-bottom: 25px" onclick="ga('send',{'hitType': 'event','eventCategory': 'share', 'eventAction': 'Blogs Social Share'})"><%= social_share_button_tag(@blog.title, image: @blog.image.url, 'data-title' => @blog.title, 'data-url' => blog_url(@blog), 'data-quote' => @blog.teaser) %></div>
      <% if @blog.link_filename %><h3 class="linkish" style="padding: 0 40px 0 40px">
          <%= link_to download_pdf_path(@blog), type: "application/pdf", onclick: "ga('send',{'hitType': 'event','eventCategory': 'downloads', 'eventAction': 'Download Blog PDF'})" do %>
            <%= @blog.link_text %>
          <% end %>
      </h3><% end %>
      <div class="row"><hr class="col-xs-6 col-xs-push-3" /></div>
      <!-- <h4>Tags: <%= raw @blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></h4> -->
    </div> <!-- header row -->
    <%= @blog.body.html_safe %>

    <div class="row">
      <hr class="col-xs-6 col-xs-push-3" style="border-color: #c0c0c0" />
    </div>

    <div class="new-comment">
      <%= simple_form_for [@blog, Comment.new] do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.label "Add a Comment" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>

        <div class="form-actions text-right">
          <%= f.button :submit, onclick: "ga('send',{'hitType': 'event','eventCategory': 'contribute', 'eventAction': 'Create Blog Comment'})" %>
        </div>
      <% end %>
    </div>

    <h2><%= pluralize(@comments.count, "Comment") %></h2>
    <div class="old-comment">
      <% @comments.each do |comment| %>
        <p style="margin-top: 10px"><strong><%= comment.body %></strong><br />
          <em>by <%= comment.user.first_name %> on <%= comment.created_at.to_formatted_s(:long) %></em></p>
      <% end %>
    </div>



  </div></div> <!-- padding box and card -->

  <div class="text-center">
    <h4>
      <% if current_user && current_user.admin %>
        <%= link_to 'Edit', edit_blog_path(@blog) %> |
      <% end %>
      <%= link_to 'Back', blogs_path %>
    </h4>
  </div> <!-- centered -->
</div> <!-- container -->

<div class="row bottom-buffer"></div>
