<%= simple_form_for(@listing) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs text-left">
    <div class="form-group col-sm-4">
      <%= f.label :zpid %>
      <%= f.text_field :zpid, class: "form-control" %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :status %>
      <%= f.text_field :status, class: "form-control" %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :location %>
      <%= f.text_field :location, class: "form-control" %>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control" %>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :citystatezip %>
      <%= f.text_field :citystatezip, class: "form-control" %>
    </div>
    <div class="form-group col-sm-12">
      <%= f.label :notes %>
      <%= f.text_area :notes, class: "form-control" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
