<div class="image-container">
	<%= image_tag "houses.jpg", alt: "Houses on a hill overlooking the ocean in Laguna Beach, California." %>
</div>

<div class="container">
  <h1 class="text-center">Listings</h1>

  <% @listings.each do |listing| %>
    <%= link_to listing_path(listing) do %>
      <div class="fancy-border property-details">
        <div class="row">
					
          <div class="status-box">
            <h4><%= listing.status %></h4>
            <% if current_user && current_user.admin %>
              <%= link_to edit_listing_path(listing) do %>
                <i class="icon ion-edit"></i>
              <% end %>
              <%= link_to listing, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="icon ion-trash-a"></i>
              <% end %>
            <% end %>
          </div>

          <h2><%= listing.address %></h2>

          <div class="col-sm-3 text-center">
            <%#= image_tag result.to_hash['response'].first['images'].first['image'].first['url'].first %>
            ZPID: <%= link_to listing.listing_search_props.links[:homedetails] do %><span class="linkish"><%= listing.zpid %></span><% end %>
          </div> <!-- images -->

          <div class="col-sm-9">
            <h4 style="color: green">Zestimate: <%= number_to_currency(listing.listing_zestimate.price) %></h4>
            <% deep_search_results = listing.listing_search_props %>
            <p><%= deep_search_results.finished_square_feet %> Square Feet, <%= pluralize(deep_search_results.bedrooms, "Bedroom") %>, <%= pluralize(deep_search_results.bathrooms, "Bathroom") %></p>
            <p><em><%= listing.notes %></em></p>
          </div> <!-- col 9 -->
        </div> <!-- row -->
      </div> <!-- fancy border -->
    <% end %> <!-- link -->
  <% end %> <!-- listing each -->

  <div class="bottom-buffer"></div>

  <div class="text-center">
    <p>Information Courtesy of</p>
    <a href="https://www.zillow.com/"><%= image_tag "zillow.png", alt: "Real Estate on Zillow", style: "width: 200px" %></a>
  </div> <!-- right zillow logo -->

  <div class="text-center"><% if current_user && current_user.admin %><%= link_to 'New Listing', new_listing_path %><% end %></div>
  <div class="bottom-buffer"></div>
</div> <!-- container -->
