<div class="image-container">
	<%= image_tag "houses.jpg", alt: "Houses on a hill overlooking the ocean in Laguna Beach, California." %>
</div>

<div class="container">
  <h1 class="text-center">Listings</h1>

  <% @listings.each do |listing| %>
    <%= link_to listing_path(listing) do %>
      <div class="fancy-border property-details">
        <div class="row">

          <h2 class="text-center"><%= listing.address %></h2>

					<div class="row">
						<hr class="col-xs-4 col-xs-push-4" style="margin: 0px 0 15px 0; padding: 0"/>
					</div>

          <div class="col-sm-3 text-center">
						<% if listing.listing_property_details.images %>
							<% unless listing.listing_property_details.error %>
								<%= image_tag listing.listing_property_details.images.first, class: "fancy-border" %>
							<% end %>
						<% elsif listing.default_image_file_name %>
			        <%= image_tag listing.default_image.url, class: "fancy-border", alt: listing.address %>
						<% else %>
							<%= image_tag "no_image.jpg", class: "fancy-border" %>
			      <% end %>
						<% if current_user && current_user.admin %>
							<%= link_to edit_listing_path(listing) do %>
								<i class="icon ion-edit"></i>
							<% end %>
							<%= link_to listing, method: :delete, data: { confirm: 'Are you sure?' } do %>
								<i class="icon ion-trash-a"></i>
							<% end %>
						<% end %>
          </div> <!-- images -->

          <div class="col-sm-9">
            <h4 style="color: green">Zestimate: <%= number_to_currency(listing.listing_zestimate.price) %></h4>
            <% deep_search_results = listing.listing_search_props %>
            <p><%= deep_search_results.finished_square_feet %> Square Feet, <%= pluralize(deep_search_results.bedrooms, "Bedroom") %>, <%= pluralize(deep_search_results.bathrooms, "Bathroom") %></p>
            <p><em><%= listing.notes %></em></p>
          </div> <!-- col 9 -->
        </div> <!-- row -->

				<h4 class="text-right"><%= listing.status %></h4>

      </div> <!-- fancy border -->
    <% end %> <!-- link -->
  <% end %> <!-- listing each -->

  <div class="bottom-buffer"></div>

  <div class="text-center">
    <p>Information Courtesy of</p>
    <a href="https://www.zillow.com/"><%= image_tag "zillow.png", alt: "Real Estate on Zillow", style: "width: 200px" %></a>
  </div> <!-- right zillow logo -->

  <div class="text-center"><% if current_user && current_user.admin %><%= link_to 'New Listing', new_listing_path %><% end %></div>
  <div class="bottom-buffer"></div>
</div> <!-- container -->
