<div class="image-container">
	<%= image_tag "houses.jpg", alt: "Houses on a hill overlooking the ocean in Laguna Beach, California." %>
</div>

<div class="overlap-image text-center">
	<h1 style="padding-top: 150px; margin-top: 0px"></h1>
</div>


<div class="container">
  <h1 class="text-center">Listings</h1>

  <% @listings.each do |listing| %>
    <% property = Rubillow::HomeValuation.zestimate({ zpid: listing.zpid }) %>
    <% data = Rubillow::PropertyDetails.deep_search_results({ address: listing.address, citystatezip: listing.citystatezip }) %>
    <%# details = Rubillow::PropertyDetails.updated_property_details({ zpid: listing.zpid }) %>
    <%= link_to listing do %>
      <div class="fancy-border property-details">
        <div class="row">

          <div class="col-sm-3">
            <%#= details.images[:url] %>
          </div> <!-- images -->

          <div class="col-sm-9">
            <h2><%= listing.address %></h2>
            <h4 style="color: green">Zestimate: <%= number_to_currency(property.price) %></h4>
            <p><%#= data.finishedSqFt %> Square Feet, <%= pluralize(data.bedrooms, "Bedroom") %>, <%= pluralize(data.bathrooms, "Bathroom") %></p>
            <div class="text-right">
              <% if current_user && current_user.admin %>
                <%= link_to edit_listing_path(listing) do %>
                  <i class="icon ion-edit"></i>
                <% end %>
                <%= link_to listing, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="icon ion-trash-a"></i>
                <% end %>
                <br />
              <% end %>
              ZPID: <%= link_to data.links[:homedetails] do %><span class="linkish"><%= listing.zpid %></span><% end %>
            </div> <!-- text right -->
          </div> <!-- col 9 -->

        </div> <!-- row -->
      </div> <!-- fancy border -->
    <% end %> <!-- link -->
  <% end %> <!-- listing each -->

  <div class="bottom-buffer"></div>

  <div class="text-center">
    <p>Information Courtesy of</p>
    <a href="https://www.zillow.com/"><%= image_tag "zillow.png", alt: "Real Estate on Zillow", style: "width: 200px" %></a>
  </div> <!-- right zillow logo -->

  <div class="text-center"><% if current_user && current_user.admin %><%= link_to 'New Listing', new_listing_path %><% end %></div>
  <div class="bottom-buffer"></div>
</div> <!-- container -->
