<div class="container">

  <p>
    <strong>Zpid:</strong>
    <%= @listing.zpid %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @listing.status %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @listing.location %>
  </p>

  <%= link_to 'Edit', edit_listing_path(@listing) %> |
  <%= link_to 'Back', listings_path %>
</div> <!-- container -->
