<h1 class="commentsHeader">Comments</h1>
<div class="commentsDiv">
  <h3 class="newHeader">Comments Pending Approval</h3>
  <div class="newDiv">
    <% if @comments.count == 0 %>
      <p>You currently have no comments to approve.</p>
    <% else %>
      <table>
        <% @comments.each do |comment| %>
          <tr>
            <td class="read-td">
              <% if comment.read %>
                <%= link_to comment_unread_path(comment), method: :post do %>
                  <span class="glyphicon glyphicon-ok"></span>
                <% end %>
              <% else %>
                <%= link_to comment_read_path(comment), method: :post do %>
                  <span class="glyphicon glyphicon-comment"></span>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to blog_comment_path(comment.blog, comment), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="icon ion-trash-a"></i>
              <% end %>
              <%= link_to approve_comment_path(comment), method: :post do %>
                <i class="icon ion-checkmark"></i>
              <% end %>
            </td>
            <td>
              <p><strong><%= comment.body %></strong><br />
              <%= comment.name %> <em>(<%= mail_to comment.email %>)</em></p>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div> <!-- new messages div -->


</div> <!-- messages div -->


<script>
	$(document).ready(function(){
		$(".commentsHeader").click(function(){
			$(".commentsDiv").toggleClass("hidden");
		});
    $(".newHeader").click(function(){
			$(".newDiv").toggleClass("hidden");
		});
	});
</script>
