<!-- page-specific content -->
  <% title "Dashboard | Linchpin Realty" %>
  <%= content_for :head do %>
    <meta name="description" content="Here you can see your account information and individual data." />
  <% end %>
<!-- page-specific content -->

<div class="responsive-hero-div">

	<%= image_tag "sunset.jpg", class: "responsive-hero-img", alt: "Sunset from a beautiful back terrace overlooking the ocean." %>

  <div class="overlap-responsive-image">
  	<div class="gradient-overlay slideRight">
			<h1 class="text-center" style="margin: 0; padding: 0; border: none"><%= @user.first_name %>'s Dashboard</h1>
			<h4 class="text-center"><%= link_to "Edit My Info", edit_user_registration_path %> | <%= link_to('Logout', destroy_user_session_path, :method => :delete) %></h4>
  	</div> <!-- absolute box -->
  </div> <!-- overlap image -->

</div> <!-- responsive hero div -->


<div class="container bg-white users">

	<% if current_user.admin %>
		<%= render "quicks" %>
		<%= render "buyers" %>
		<%= render "clients" %>
		<%= render "contacts" %>
		<%= render "values" %>
		<%= render "comments" %>
	<% else %> <!-- not admin section -->

	<% end %>

	<div class="bottom-buffer"></div>

</div> <!-- container -->
