<div class="image-container">
	<%= image_tag "sunset.jpg", style: "top: 0", alt: "Sunset from a beautiful back terrace overlooking the ocean." %>
</div>

<div class="container bg-white users">
	<div class="buffer"></div>

	<h1 class="text-center" style="margin: 0; padding: 0"><%= @user.first_name %>'s Dashboard</h1>
	<h4 class="text-center"><%= link_to "Edit My Info", edit_user_registration_path %> | <%= link_to('Logout', destroy_user_session_path, :method => :delete) %></h4>

	<div class="row">
		<hr class="col-xs-6 col-xs-push-3" />
	</div>

	<% if current_user.admin %>
		<%= render "clients" %>
		<%= render "contacts" %>
	<% else %> <!-- not admin section -->

	<% end %>

	<div class="bottom-buffer"></div>

</div> <!-- container -->
