<!-- page-specific content -->
  <% title "Linchpin Realty" %>
  <%= content_for :head do %>
    <meta name="description" content="Having a realtor is important for your house search, even in today's digital age of instant access." />
  <% end %>
<!-- page-specific content -->

<div class="responsive-hero-div">

	<%= image_tag "home_aerial.jpg", class: "responsive-hero-img", alt: "Aerial view of an Orange County neighborhood." %>

  <div class="overlap-responsive-image text-center">

		<div class="typed-type-header text-center" style="margin-top: 100px">
			<div class="typed_wrap" style="min-height: 120px">
				<h2>Anthony Bayardelle</h2>
				<h3><span class="typed"></span></h3>
			</div>
		</div>
		<button><%= link_to page_path('hello'), class: "btn", onclick: "ga('send',{'hitType': 'event','eventCategory': 'cta', 'eventAction': 'Click Homepage Get Started'})" do %>Get Started<% end %></button>
  </div> <!-- overlap image -->

</div> <!-- responsive hero div -->

<div class="blue-stripe">
	<div class="container text-center">
		<h4 class="font-sans" style="line-height: 1.25">Having a realtor is important for your house search, even in today's digital age of instant access.
			A typical person might buy or sell a half dozen houses across their lifetime, but a realtor does it every day.
		  Combining years of experience and research in the field, an in depth knowledge of the current market conditions, and cultivated negotiating skills, having a realtor will get you a better deal for less money and in less time.
		</h4>
		<h3><strong><%= link_to new_contact_path do %>Contact us today to see how a realtor can&nbsp;help&nbsp;you!<% end %></strong></h3>
		<%= image_tag "homesmart_logo_overlay.png", style: "width: 165px; margin: 20px 0 0 -20px" %>
	</div> <!-- container -->
</div>

<div class="container bg-white">
	<div> <!-- left side -->
		<h1 class="text-center">The Inside Scoop</h1>
		<% @blogs.each do |blog| %>
			<%= link_to blog_path(blog), onclick: "ga('send',{'hitType': 'event','eventCategory': 'click', 'eventAction': 'Click Homepage Single Blog Link'})" do %>
				<div class="row blog-list-links">
					<div class="col-sm-3">
						<%= image_tag url_for(blog.image), alt: blog.title %>
					</div> <!-- col image -->
					<div class="col-sm-9">
						<h3 style="margin-top: 0; padding-top: 0"><%= blog.title %></h3>
						<p><%= blog.teaser %></p>
						<p><%= link_to "Read More", blog_path(blog) %></p>
					</div> <!-- col blog text -->
				</div> <!-- row -->
			<% end %>
		<% end %>
		<h3 class="text-center"><%= link_to "Get more real estate tips and tricks on our blog...", blogs_path, onclick: "ga('send',{'hitType': 'event','eventCategory': 'click', 'eventAction': 'Click Homepage All Blogs Link'})" %>
	</div> <!-- left side -->




	<div class="bottom-buffer"></div>

</div> <!-- container -->


<script>
	$(document).ready(function(){
		$(function(){
			$(".typed").typed({
				strings: ["Expert.", "Advisor.", "REALTOR®.", "Your guide to the OC housing market."],
				// Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
				stringsElement: null,
				// typing speed
				typeSpeed: 30,
				// time before typing starts
				startDelay: 1200,
				// backspacing speed
				backSpeed: 20,
				// time before backspacing
				backDelay: 500,
				// loop
				loop: true,
				// false = infinite
				loopCount: 1,
				// show cursor
				showCursor: false,
				// character for cursor
				cursorChar: "|",
				// attribute to type (null == text)
				attr: null,
				// either html or text
				contentType: 'html',
				// call when done callback function
				callback: function() {},
				// starting callback function before each string
				preStringTyped: function() {},
				//callback for every typed string
				onStringTyped: function() {},
				// callback for reset
				resetCallback: function() {}
			});
		});
		$('.fancy-border').matchHeight();
	})
</script>
