<!-- page-specific content -->
  <% title "Linchpin Realty" %>
  <%= content_for :head do %>
    <meta name="description" content="Having a realtor is important for your house search, even in today's digital age of instant access." />
  <% end %>
<!-- page-specific content -->


<!-- Main layout -->
<main>

  <div class="view jarallax" style="height: 60vh;">
    <img class="jarallax-img" src="<%= asset_path('hill.jpg') %>" alt="">
    <div class="mask rgba-indigo-slight">
      <div class="container flex-center text-center">
        <div class="row">
          <div class="typed-type-header">
      			<div class="typed_wrap" style="min-height: 120px">
      				<h2 class="color-white">Linchpin Realty</h2>
      				<h3><span class="typed color-white"></span></h3>
      			</div>
      		</div>
        </div>
      </div>
    </div>
  </div>




  <div class="container">
    <div class="row my-5">
      <div class="col-md-12 text-center">

        <section class="text-center">
          <div class="row">

            <div class="col-xl-2 col-md-4 col-sm-6 my-4">
              <i class="fas fa-home fa-3x text-buy"></i>
              <h5 class="font-weight-bold mt-2">Buy a House</h5>
              <p class="grey-text mb-2 category-text">
                Get started on the path to your dream home.
              </p>
              <%= link_to "More", page_path('buy'), class: "btn bg-buy text-white-hover" %>
            </div> <!-- Grid column -->

            <div class="col-xl-2 col-md-4 col-sm-6 my-4">
              <i class="fas fa-wallet fa-3x text-rent"></i>
              <h5 class="font-weight-bold mt-2">Rent a House</h5>
              <p class="grey-text mb-2 category-text">
                The easy road to leasing your own home.
              </p>
              <%= link_to "More", page_path('rent'), class: "btn bg-rent text-white-hover" %>
            </div> <!-- Grid column -->

            <div class="col-xl-2 col-md-4 col-sm-6 my-4">
              <i class="fas fa-money-check-alt fa-3x text-sell"></i>
              <h5 class="font-weight-bold mt-2">Sell My House</h5>
              <p class="grey-text mb-2 category-text">
                Make sure you get the most for your home.
              </p>
              <%= link_to "More", page_path('sell'), class: "btn bg-sell text-white-hover" %>
            </div> <!-- Grid column -->

            <div class="col-xl-2 col-md-4 col-sm-6 my-4">
              <i class="fas fa-money-bill-wave fa-3x text-loan"></i>
              <h5 class="font-weight-bold mt-2">Get a Loan</h5>
              <p class="grey-text mb-2 category-text">
                Find out how much buying power you have.
              </p>
              <%= link_to "More", page_path('loan'), class: "btn bg-loan text-white-hover" %>
            </div> <!-- Grid column -->

            <div class="col-xl-2 col-md-4 col-sm-6 my-4">
              <i class="fas fa-money-check fa-3x text-refinance"></i>
              <h5 class="font-weight-bold mt-2">Refinance</h5>
              <p class="grey-text mb-2 category-text">
                Lower your interest and monthly payments.
              </p>
              <%= link_to "More", page_path('mortgage'), class: "btn bg-refinance text-white-hover" %>
            </div> <!-- Grid column -->

            <div class="col-xl-2 col-md-4 col-sm-6 my-4">
              <i class="fas fa-door-open fa-3x text-agent"></i>
              <h5 class="font-weight-bold mt-2">For Realtors</h5>
              <p class="grey-text mb-2 category-text">
                How to build your business as an agent.
              </p>
              <%= link_to "More", page_path('agents'), class: "btn bg-agent text-white-hover" %>
            </div> <!-- Grid column -->

          </div> <!-- Grid row -->

        </section>

      </div> <!--Grid column-->
    </div> <!--Grid row-->
  </div> <!-- container -->






  <div class="view jarallax" style="min-height: 100px">
    <img class="jarallax-img" src="https://s3-us-west-1.amazonaws.com/ocrphotobucket/marble.jpg" alt="">

    <div class="container py-5">
      <div class="row mt-lg-5">
        <div class="col-12 mt-5 white-text text-center wow fadeInLeft"
          data-wow-delay="0.3s">
          <h2 class="display-4 font-weight-bold color-blue-dark">Get the Inside Scoop</h2>
          <hr class="hr-dark">
          <h5 class="mb-3 color-blue-dark">
            Real estate is a complex and changing field. In our blog we cover topics from homebuying 101 to recent news events.
          </h5>
          <a class="btn btn-elegant">Learn More</a>
        </div> <!-- column -->
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- jarallax -->






  <div class="container py-5">
    <h2 class="display-5 text-center font-weight-bold color-blue-dark">From the Blog</h2>
    <div class="row">
      <% @blogs.each do |blog| %>
        <%= render partial: "layouts/blog_card", locals: { blog: blog } %>
      <% end %>
    </div> <!-- row -->
    <h3 class="text-center"><%= link_to "Get more real estate tips and tricks on our blog...", blogs_path, onclick: "ga('send',{'hitType': 'event','eventCategory': 'click', 'eventAction': 'Click Homepage All Blogs Link'})" %>
  </div> <!-- container -->






</main> <!-- Main layout -->












<script>
	$(document).ready(function(){
    $('.category-text').matchHeight();
    objectFitImages();
    jarallax(document.querySelectorAll('.jarallax'));
    jarallax(document.querySelectorAll('.jarallax-keep-img'), {
        keepImg: true,
    });
		$(function(){
			$(".typed").typed({
				strings: ["Expert advice.", "Seasoned financial advisors.", "Knowledgeable REALTORS®.", "Your guide to housing, finances, and investments."],
				// Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
				stringsElement: null,
				// typing speed
				typeSpeed: 40,
				// time before typing starts
				startDelay: 400,
				// backspacing speed
				backSpeed: 30,
				// time before backspacing
				backDelay: 500,
				// loop
				loop: true,
				// false = infinite
				loopCount: 1,
				// show cursor
				showCursor: false,
				// character for cursor
				cursorChar: "|",
				// attribute to type (null == text)
				attr: null,
				// either html or text
				contentType: 'html',
				// call when done callback function
				callback: function() {},
				// starting callback function before each string
				preStringTyped: function() {},
				//callback for every typed string
				onStringTyped: function() {},
				// callback for reset
				resetCallback: function() {}
			});
		});
	})
</script>
