<div class="responsive-hero-div">

	<%= image_tag "home_aerial.jpg", class: "responsive-hero-img", alt: "Aerial view of an Orange County neighborhood." %>

  <div class="overlap-responsive-image">
  	<div class="gradient-overlay slideRight">
  		<%= image_tag "portrait-square.jpg", alt: "Anthony Bayardelle", class: "fancy-border profile-pic" %>
  		<div class="text">
  			<h1>Your guide to the<br class="hidden-lg" /> California housing market</h1>
  			<%= link_to new_contact_path do %><h4 class="font-sans">Talk to Anthony about buying or selling a house today!</h4><% end %>
  		</div>
  	</div> <!-- absolute box -->
  </div> <!-- overlap image -->

	<%= render 'layouts/scroll' %>

</div> <!-- responsive hero div -->

<div class="blue-stripe">
	<div class="container">
		<h4 class="font-sans text-center" style="line-height: 1.25">Having a realtor is important for your house search, even in today's digital age of instant access.
			A typical person might buy or sell a half dozen houses across their lifetime, but a realtor does it every day.
		  Combining years of experience and research in the field, an in depth knowledge of the current market conditions, and cultivated negotiating skills, having a realtor will get you a better deal for less money and in less time.
		</h4>
		<h3 class="text-center"><strong><%= link_to new_contact_path do %>Contact us today to see how a realtor can&nbsp;help&nbsp;you!<% end %></strong></h3>
	</div> <!-- container -->
</div>

<div class="container bg-white">
	<div> <!-- left side -->
		<h1 class="text-center">What's new in Orange County?</h1>
		<% @blogs.each do |blog| %>
			<%= link_to blog_path(blog) do %>
				<div class="row blog-list-links">
					<div class="col-sm-3">
						<%= image_tag blog.image.url, alt: blog.title %>
					</div> <!-- col image -->
					<div class="col-sm-9">
						<h2 style="margin-top: 0; padding-top: 0"><%= blog.title %></h2>
						<p><%= blog.teaser %></p>
						<p><%= link_to "Read More", blog_path(blog) %></p>
					</div> <!-- col blog text -->
				</div> <!-- row -->
			<% end %>
		<% end %>
		<h3 class="text-center"><%= link_to "Get more real estate tips and tricks on our blog...", blogs_path %>
	</div> <!-- left side -->




	<div class="bottom-buffer"></div>

</div> <!-- container -->


<script>
  $(function() {
      $('.fancy-border').matchHeight();
  });
</script>
