<div class="responsive-hero-div">
    <%= image_tag "house_pool.jpg", class: "responsive-hero-img", alt: "Beautiful backyard, pool, and house." %>

    <div class="overlap-responsive-image text-center">
      <div class="gradient-overlay slideRight">
        <h1 class="extreme-callout">Free list of houses for sale in your desired area!</h1>
        <div class="text-center" style="width: 100%">
          <h3 class="font-sans">All you have to do is tell us where to look and what type of house you want!</h3>
        </div> <!-- container -->
      </div> <!-- absolute-bottom-transparent -->
    </div> <!-- overlap-image -->
</div>


<div class="container text-center">

  <div class="row" style="padding-top: 30px">
    <h2 class="font-sans">What are you looking to buy?</h2>
    <%= link_to new_quick_path(house: true), onclick: "ga('send',{'hitType': 'event','eventCategory': 'subnav', 'eventAction': 'Quick Click House'})" do %>
      <div class="card" style="margin-right: 10px">
        <%= image_tag "img_home_pool_view.jpg", alt: "Beautiful Southern California house with ocean and pool view." %>
        <h2>House</h2>
      </div>
    <% end %>
    <%= link_to new_quick_path(house: false), onclick: "ga('send',{'hitType': 'event','eventCategory': 'subnav', 'eventAction': 'Quick Click NonHouse'})" do %>
      <div class="card" style="margin-left: 10px">
        <%= image_tag "img_condos.jpg", alt: "Beautiful Southern California condos." %>
        <h2>Apartment or Condo</h2>
      </div>
    <% end %>
    <div class="buffer"></div>
  </div> <!-- row -->

</div> <!-- container -->
