<main>

  <div class="view jarallax" style="height: 60vh;">
    <img class="jarallax-img" src="<%= asset_path("loan-house.jpg") %>" alt="Buy a House">
    <div class="mask rgba-black-light">
      <div class="container flex-center text-center">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <h1 class="display-3 mb-2 wow fadeInDown color-white" data-wow-delay="0.3s">
              Need a Home Loan?
            </h1>
            <h3 class="text-uppercase mb-3 mt-1 color-white font-weight-bold wow fadeIn" data-wow-delay="0.4s">
              Follow these 3 simple steps to know exactly where you stand in the home&nbsp;buying&nbsp;process.
            </h3>
            <%= link_to "Get Prequalified Today", new_info_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row my-4">
      <div class="col-md-12">
        <h2 class="h1 font-weight-bold color-blue-dark text-center">
          How Do I Get a Home Loan?
        </h2>
        <div class="text-center pb-4">
          <a class="btn btn-loan text-white text-white-hover" href="#optin" >
            Free 15-Minute Consultation
          </a>
        </div>
        <div class="col-lg-4">
          <h2>Step 1: Take Our Prequalification Quiz</h2>
          <p class="mb-0">This basic information allows us to start researching what loans you qualify for financially.</p>
          <div class="text-center"><%= link_to "Take the Quiz Now", new_info_path, class: "btn btn-loan mb-4" %></div>
        </div> <!-- mini col -->

        <div class="col-lg-4">
          <h2>Step 2: Provide Financial Information</h2>
          <p>To make the process as fast as possible, I need documents to verify your financial standing:
            <ul class="font-sans">
              <li>W2 forms for the past two years</li>
              <li>Current bank statements</li>
              <li>Any other relevant information about assets (the more documentation, the easier the process)</li>
              <li>Information to access credit score</li>
            </ul>
          </p>
        </div> <!-- mini col -->

        <div class="col-lg-4">
          <h2>Step 3: Get Your Loan Preapproval</h2>
          <p>This gives you the ability to go shop for houses knowing exactly what amount the bank will qualify you for.  No surprises!</p>
        </div> <!-- mini col -->

      </div> <!--Grid column-->
    </div> <!--Grid row-->
  </div> <!-- container-->









  <div class="view jarallax big-mobile" id="optin">
    <img class="jarallax-img" src="<%= asset_path("background.jpg") %>" alt="Linchpin Realty Blog" >
    <div class="mask rgba-stylish-slight">
      <div class="container flex-center text-center">
        <div class="row pt-3">
          <div class="col-12">
            <h2>
              Get a <span class="font-weight-bold">Free 15 Minute Consultation Call</span>
            </h2>
          </div>
          <div class="col-12">
            <%= render partial: "layouts/new_subscriber", locals: { resource_id: nil, tags: "interest-loan, LM-15-minute-consultation" } %>
          </div>
        </div> <!-- row -->
      </div>
    </div>
  </div>






</main> <!-- Main layout -->







<!-- new person popup itself -->
<div class="modal fade" id="subscriptionPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body mx-4 mb-4">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="text-center mt-4">Get a Free 15 Minute Consultation&nbsp;Call</h3>
        <%= render partial: "layouts/new_subscriber", locals: { tags: "interest-loan, loan-page, LM-15-minute-consultation" } %>
      </div>
    </div>
  </div>
</div>






<script>
  $(document).ready(function() {
    // object-fit polyfill run
    objectFitImages();
    /* init Jarallax */
    jarallax(document.querySelectorAll('.jarallax'));
    jarallax(document.querySelectorAll('.jarallax-keep-img'), {
        keepImg: true,
    });
  });
</script>
