<!-- page-specific content -->
  <% title "Contact Us" %>
  <%= content_for :head do %>
    <meta name="description" content="Have questions?  Need help?  Drop us a line!" />
  <% end %>
<!-- page-specific content -->

<div class="responsive-hero-div">
	<%= image_tag "aerial.jpg", class: "responsive-hero-img", alt: "Aerial view of a suburb at the foot of the Porter Ranch hills." %>

	<div class="overlap-responsive-image">
  	<div class="gradient-overlay slideRight text-center">
			<h2 class="pseudo-h1 color-blue-dark">Your guide to the<br class="hidden-lg" /> California housing market</h2>
      <h3 class="text-center"><a href="#subscriptionPopup" class="open-popup-link btn" onclick="ga('send',{'hitType': 'event','eventCategory': 'join', 'eventAction': 'Blog Subscribe'})">Get a Free 15 Minute Consultation Call</a></h3>
  	</div> <!-- absolute box -->
  </div> <!-- overlap image -->
</div>

<div class="blue-stripe">
	<div class="container">
		<div class="col-sm-3 text-center">
			<%= image_tag "portrait.jpg", alt: "Anthony Bayardelle", class: "fancy-border", style: "max-width: 200px; margin: 0 0 15px 0" %>
		</div>
		<div class="col-sm-9">
			<p>Anthony Bayardelle has worked in real estate, investing, and client relations for over 15 years across several states and has a wealth of knowledge and experience to bring to the table.  A born and raised New Yorker who relocated to the West coast, and now brings the skills he cultivated to Orange County.</p>
			<p>Anthony is interested in all facets of real estate, from sales and financing to renovations and restoration of old or rundown houses.  In his free time Anthony likes working out, mountain biking, and spending time with his wife and two beautiful daughters.</p>
		</div>
	</div> <!-- container -->
</div> <!-- blue stripe -->

<div class="marble">
  <div class="buffer"></div>

  <div class="card full-width">
  	<div class="container text-center">
  	  <h1>Contact Us</h1>

  	  <%= render 'form' %>

  	  <div class="half-buffer"></div>
  	</div> <!-- container -->
  </div> <!-- card -->

  <div class="buffer"></div>
</div> <!-- marble -->




<!-- new person popup itself -->
<div id="subscriptionPopup" class="white-popup mfp-hide">
  <h3 class="text-center">Get a Free 15 Minute Consultation Call</h3>
  <%= render partial: "layouts/new_subscriber", locals: { tags: "contact-me, LM-15-minute-consultation" } %>
</div>





<script>
  $(document).ready(function() {
      $('.open-popup-link').magnificPopup({
        type:'inline',
        midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
      });
  });
</script>
