<!-- page-specific content -->
  <% title @pillar.name %>
  <%= content_for :head do %>
    <meta name="description" content=@pillar.snippet>
  <% end %>
<!-- end page specific content -->

<div class="responsive-hero-div">
    <%= image_tag "house_pool.jpg", class: "responsive-hero-img", alt: "Beautiful backyard, pool, and house." %>

    <div class="overlap-responsive-image text-center">
      <div class="gradient-overlay slideRight">
        <h1 class="extreme-callout"><%= @pillar.name %></h1>
        <div class="text-center container" style="width: 100%">
          <h3 class="font-sans"><%= @pillar.snippet %></h3>
        </div> <!-- container -->
      </div> <!-- absolute-bottom-transparent -->
    </div> <!-- overlap-image -->
</div>

<div class="row">
  <div class="container text-center">
    <div class="card padding-10">
      <% if current_user && current_user.admin %>
        <h2>Admin's Corner</h2>
        <% if @pillar.active == false %>
          <p>This pillar is currently <strong>inactive</strong>.</p>
        <% else %>
          <p>This pillar is currently <strong>active</strong>.</p>
        <% end %>

          <p>It <% if @pillar.active == false %> will be <% else %>is<% end %> on the main nav
            <% if @pillar.buyer && @pillar.seller %>
              for <strong>both buyers and sellers</strong>.</p>
            <% elsif @pillar.buyer %>
              for <strong>buyers</strong>.</p>
            <% elsif @pillar.seller %>
              for <strong>sellers</strong>.</p>
            <% else %>
              for <strong>other information</strong>.</p>
            <% end %>
      <% end %>

      <p><%= link_to 'Edit', edit_pillar_path(@pillar) %> | <%= link_to 'Back', pillars_path %></p>
    </div> <!-- card -->
  </div> <!-- container -->
</div> <!-- row -->

<div class="row">
  <div class="container">
    <span class="font-sans"><%= @pillar.description.html_safe %></span>
  </div> <!-- container -->
</div> <!-- row -->

<div class="buffer"></div>

<% if @blogs.any? %>
  <div class="row blue-stripe">
    <div class="container">
      <h2 class="text-center">Blogs about <%= @pillar.name %></h2>
      <% @blogs.each do |blog| %>
        <%= link_to blog_path(blog) do %>
          <div class="card blog-card col-xs-6 col-md-3">
              <%= image_tag blog.image.url, alt: blog.title %>
              <h3><%= blog.title %></h3>
              <p><%= blog.teaser %></p>
              <p><em><%= link_to "Read More", blog_path(blog) %>...</em></p>
          </div> <!-- card -->
        <% end %> <!-- link -->
      <% end %> <!-- blogs each -->
    </div> <!-- container -->
  </div> <!-- row -->
<% end %>



</div> <!-- container -->

<div class="buffer"></div>


<script>
  $(function() {
      $('.blog-card').matchHeight();
  });
</script>
