<div class="view jarallax" style="height: 100vh;">
	<img class="jarallax-img" src="<%= asset_path("houses-road.jpg") %>" alt="Log In Page">
	<div class="mask rgba-blue-slight">
		<div class="container flex-center">
			<div class="card px-5 py-3">

				<h1 class="text-center pt-5">Log In</h1>

				<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<div class="form-inputs form-row row justify-content-center">
						<div class="col-lg-6">
							<div class="form-group md-form">
								<%= f.email_field :email, id: "email", required: true, class: "form-control" %>
								<%= f.label "Email Address", for: "email" %>
							</div> <!-- form-group -->
						</div> <!-- col -->
						<div class="col-lg-6">
							<div class="form-group md-form">
					    	<%= f.label :password %>
					    	<%= f.password_field :password, required: false, class: "form-control" %>
				    	</div> <!-- form group -->
						</div> <!-- col -->

						<div class="row">
              <div class="mb-3 field form-check" style="margin-left: auto; margin-right: auto;">
                <%= f.check_box :remember_me, class: "form-check-input", id: "remember_me" %>
                <%= f.label :remember_me, class: "form-check-label", for: "remember_me" %>
              </div>
            </div> <!-- row -->

				  </div> <!-- form inputs -->

				  <div class="form-actions text-center">
				    <%= f.button :submit, "Log in", class: "btn btn-primary" %><br />
				    <%= render "devise/shared/links" %>
				  </div> <!-- form actions -->
				<% end %>

			</div> <!-- card -->
		</div> <!-- container -->
	</div>
</div>












<script>
  $(document).ready(function() {
    // object-fit polyfill run
    objectFitImages();
    /* init Jarallax */
    jarallax(document.querySelectorAll('.jarallax'));
    jarallax(document.querySelectorAll('.jarallax-keep-img'), {
        keepImg: true,
    });
  });
</script>
