<%= simple_form_for(@quick) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="buffer"></div>
    <h2>Give us the details...</h2>
      <%= f.hidden_field :house, value: params[:house] %>

    <div class="form-group text-left col-xs-12 col-sm-6 col-lg-3">
      <%= f.label "Where do you want to live?*" %>
      <%= f.text_field :location, class: "form-control", placeholder: "e.g. Laguna Niguel, CA", required: true, oninput: "ga('send',{'hitType': 'event','eventCategory': 'typing', 'eventAction': 'Quick Typing Location'})" %>
    </div> <!-- form group -->

    <div class="form-group text-left col-xs-12 col-sm-6">
      <%= f.label "What's your ideal price range?" %>
      <%= f.text_field :range, class: "form-control", placeholder: "e.g. Between $800,000 and $1M", oninput: "ga('send',{'hitType': 'event','eventCategory': 'typing', 'eventAction': 'Quick Typing Price Range'})" %>
    </div> <!-- form group -->

    <div class="form-group text-left col-xs-12 col-sm-4">
      <%= f.label "Name*" %>
      <%= f.text_field :name, class: "form-control", placeholder: "e.g. Tony Stark", required: true, oninput: "ga('send',{'hitType': 'event','eventCategory': 'typing', 'eventAction': 'Quick Typing Name'})" %>
    </div> <!-- form group -->

    <div class="form-group text-left col-xs-12 col-sm-4">
      <%= f.label "Phone Number" %>
      <%= f.text_field :phone, class: "form-control", placeholder: "e.g. (949) 524-1246", oninput: "ga('send',{'hitType': 'event','eventCategory': 'typing', 'eventAction': 'Quick Typing Phone'})" %>
    </div> <!-- form group -->

    <div class="form-group text-left col-xs-12 col-sm-4">
      <%= f.label "Email*" %>
      <%= f.text_field :email, class: "form-control", placeholder: "e.g. anthony@linchpinrealty.com", required: true, oninput: "ga('send',{'hitType': 'event','eventCategory': 'typing', 'eventAction': 'Quick Typing Email'})"  %>
    </div> <!-- form group -->

    <p><a id="show-more-info-div">Want a more specific search?  The more info the better.  Click here.</a></p>

    <div class="row">
      <div class="more-information-div hidden">
        <div class="buffer"></div>
        <h2>Let's Get Specific</h2>
        <p><a class="hide-more-info-div hidden">Hide Extra Information</a></p>

        <div class="form-group text-left col-xs-12 col-sm-6 col-lg-3">
          <%= f.label "Square Footage" %>
          <%= f.text_field :footage, class: "form-control", placeholder: "e.g. 3,000 square feet", oninput: "ga('send',{'hitType': 'event','eventCategory': 'typing', 'eventAction': 'Quick Typing Footage'})" %>
        </div> <!-- form group -->

        <div class="form-group text-left col-xs-12 col-sm-6 col-lg-3">
          <%= f.label "# of Bedrooms" %>
          <%= f.text_field :bedrooms, class: "form-control", placeholder: "e.g. 3", oninput: "ga('send',{'hitType': 'event','eventCategory': 'typing', 'eventAction': 'Quick Typing Bedrooms'})" %>
        </div> <!-- form group -->

        <div class="form-group text-left col-xs-12 col-sm-6 col-lg-3">
          <%= f.label "# of Bathrooms" %>
          <%= f.text_field :bathrooms, class: "form-control", placeholder: "e.g. 2.5", oninput: "ga('send',{'hitType': 'event','eventCategory': 'typing', 'eventAction': 'Quick Typing Bathrooms'})" %>
        </div> <!-- form group -->

        <div class="form-group text-left col-xs-12 col-sm-6">
          <%= f.label "What's your monthly budget for rent?" %>
          <%= f.text_field :budget, class: "form-control", placeholder: "e.g. Between $1,000 and $2,000", oninput: "ga('send',{'hitType': 'event','eventCategory': 'typing', 'eventAction': 'Quick Typing Budget'})" %>
        </div> <!-- form group -->

        <div class="form-group text-left col-xs-12">
          <%= f.label "Anything else you want us to know?" %>
          <%= f.text_area :notes, class: "form-control", placeholder: "e.g. A view is really important to us, we would love a pool, we want to be close to public transportation, nearby schools are important to us, etc.", oninput: "ga('send',{'hitType': 'event','eventCategory': 'typing', 'eventAction': 'Quick Typing Notes'})" %>
        </div> <!-- form group -->
      </div> <!-- row -->

    </div> <!-- more information div -->

    <div class="form-actions">
      <p><a class="hide-more-info-div hidden">Hide Extra Information</a></p>
      <%= f.button :submit, "Get My Free Report", style: "margin-left: 10px", onclick: "ga('send',{'hitType': 'event','eventCategory': 'submit', 'eventAction': 'Quick Form Submit'})" %>
    </div>

    <div class="buffer"></div>

  </div> <!-- form inputs -->



<% end %>

<script>
  $(document).ready(function(){
      $("#show-more-info-div").click(function () {
        $(".more-information-div").removeClass("hidden");
        $("#show-more-info-div").addClass("hidden");
        $(".hide-more-info-div").removeClass("hidden");
      });
      $(".hide-more-info-div").click(function () {
        $(".more-information-div").addClass("hidden");
        $("#show-more-info-div").removeClass("hidden");
        $(".hide-more-info-div").addClass("hidden");
      });
  });
</script>
