<div class="container text-left bg-white">
  <h1 class="text-center">All Quick Contact Submissions</h1>
  <table>
    <thead>
      <tr>
        <th><h3>Contact Info</h3></th>
        <th><h3>Search Details</h3></th>
        <th><h3>House Details</h3></th>
      </tr>
    </thead>

    <tbody>
      <% @quicks.each do |quick| %>
        <tr style="border-top: thin solid #c0c0c0">
          <td><p>
            <strong><%= quick.name %></strong><br />
            <%= mail_to quick.email %><br />
            <%= quick.phone %><br />
            <%= if quick.responded != "" then "Responded" else "Not Responded" end %>, <%= if quick.archived != "" then "Archived" else "Not Archived" end %><br />
            <%= link_to 'Show', quick %> | <%= link_to 'Edit', edit_quick_path(quick) %> | <%= link_to 'Destroy', quick, method: :delete, data: { confirm: 'Are you sure you want to delete this quick contact?' } %>
          </p></td>
          <td><p>
            <strong>Location:  </strong><%= if quick.location != "" then quick.location else 'Not Specified' end %></br>
            <strong>Range:  </strong><%= if quick.range != "" then quick.range else 'Not Specified' end %><br />
            <strong>Budget:  </strong><%= if quick.budget != "" then quick.budget else 'Not Specified' end %>
          </p></td>
          <td><p><strong>Bedrooms: </strong><%= if quick.bedrooms != "" then quick.bedrooms else 'Not Specified' end %><br />
            <strong>Bathrooms: </strong><%= if quick.bathrooms != "" then quick.bathrooms else 'Not Specified' end %><br />
            <strong>Square Footage: </strong><%= if quick.footage != "" then quick.footage else 'Not Specified' end %><br />
            <strong>Notes: </strong><%= if quick.notes != "" then quick.notes else 'None' end %>
          </p></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="buffer"></div>
</div> <!-- container -->
