<p id="notice"><%= notice %></p>

<h1>Listing Quicks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Range</th>
      <th>Budget</th>
      <th>Location</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
      <th>Footage</th>
      <th>Notes</th>
      <th>Responded</th>
      <th>Archived</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quicks.each do |quick| %>
      <tr>
        <td><%= quick.name %></td>
        <td><%= quick.phone %></td>
        <td><%= quick.email %></td>
        <td><%= quick.range %></td>
        <td><%= quick.budget %></td>
        <td><%= quick.location %></td>
        <td><%= quick.bedrooms %></td>
        <td><%= quick.bathrooms %></td>
        <td><%= quick.footage %></td>
        <td><%= quick.notes %></td>
        <td><%= quick.responded %></td>
        <td><%= quick.archived %></td>
        <td><%= link_to 'Show', quick %></td>
        <td><%= link_to 'Edit', edit_quick_path(quick) %></td>
        <td><%= link_to 'Destroy', quick, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quick', new_quick_path %>
