<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @quick.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @quick.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @quick.email %>
</p>

<p>
  <strong>Range:</strong>
  <%= @quick.range %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @quick.budget %>
</p>

<p>
  <strong>Location:</strong>
  <%= @quick.location %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @quick.bedrooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @quick.bathrooms %>
</p>

<p>
  <strong>Footage:</strong>
  <%= @quick.footage %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @quick.notes %>
</p>

<p>
  <strong>Responded:</strong>
  <%= @quick.responded %>
</p>

<p>
  <strong>Archived:</strong>
  <%= @quick.archived %>
</p>

<%= link_to 'Edit', edit_quick_path(@quick) %> |
<%= link_to 'Back', quicks_path %>
