<%= simple_form_for(@subscriber) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs row">
    <div class="form-group col-xs-6 col-lg-3">
      <%= f.label "First Name" %>
      <%= f.text_field :first_name, required: true, class: "form-control" %>
    </div> <!-- form-group -->
    <div class="form-group col-xs-6 col-lg-3">
      <%= f.label "Last Name" %>
      <%= f.text_field :last_name, required: true, class: "form-control" %>
    </div> <!-- form-group -->
    <div class="form-group col-xs-12 col-sm-6 col-lg-3">
      <%= f.label "Phone #" %>
      <%= f.text_field :phone, required: true, class: "form-control" %>
    </div> <!-- form-group -->
    <div class="form-group col-xs-12 col-sm-6 col-lg-3">
      <%= f.label "Email" %>
      <%= f.text_field :email, required: true, class: "form-control" %>
    </div> <!-- form-group -->
    <div class="form-group col-xs-12">
      <%= f.label "Tags (Separated by Commas)" %>
      <%= f.text_area :tag_string, class: "form-control" %>
    </div> <!-- form-group -->
    <div class="form-group col-xs-12">
      <%= f.label "Admin Notes" %>
      <%= f.text_area :admin_notes, class: "form-control" %>
    </div> <!-- form-group -->
  </div>

  <div class="form-actions text-center">
    <%= f.input :unsubscribe, class: "form-control" %>
    <%= f.button :submit %>
  </div>
  
<% end %>
