<div class="responsive-hero-div">
    <%= image_tag "form.jpg", class: "responsive-hero-img", alt: "Beautiful backyard, pool, and house." %>

    <div class="overlap-responsive-image text-center">
      <div class="gradient-overlay slideRight">
        <h1><%= @buyer.buyer_name %></h1>
        <h4><%= mail_to @buyer.email %></h4>
        <h4><%= @buyer.phone_mobile %> (Mobile)  |  <%= @buyer.phone_home %> (Home)</h4>
        <h4><%= @buyer.phone_work %> (Work)  |  <%= @buyer.phone_fax %> (Fax)</h4>
        <div class="text-center container" style="width: 100%">
          <h4><% if @buyer.archived %>Archived<% end %></h4>
          <%= link_to 'Back to Dashboard', user_path(current_user) %>
        </div> <!-- container -->
      </div> <!-- absolute-bottom-transparent -->
    </div> <!-- overlap-image -->
</div>


<div id="form" class="container show-cards">
  <div class="buffer"></div>
  <div class="card padding-box full-width">
    <div class="row">
      <h1>Basic Information</h1>
      <h3><strong>Employer:</strong> <%= @buyer.employer %></h3>
      <h3><strong>Search time:</strong>  <%= @buyer.search_time %></h3>
      <h3><strong>Other agent:</strong>  <%= @buyer.other_agent %></h3>
    </div> <!-- card -->
  </div> <!-- row -->
  <div class="card padding-box full-width">
    <div class="row">
      <h1>Current Home Details</h1>
      <h3><strong>Address:</strong>  <%= @buyer.address %></h3>
      <h3><strong>Family size:</strong>  <%= @buyer.family_size %></h3>
      <h3><strong>Own or rent:</strong>  <%= @buyer.own_or_rent %></h3>
      <h3><strong>Current mortgage:</strong>  <%= @buyer.current_mortgage %></h3>
      <h3><strong>Need sell:</strong>  <%= @buyer.need_sell %></h3>
      <h3><strong>Lease length:</strong>  <%= @buyer.lease_length %></h3>
      <h3><strong>Really liked:</strong>  <%= @buyer.really_liked %></h3>
      <h3><strong>Why not:</strong>  <%= @buyer.why_not %></h3>
      <h3><strong>Move time:</strong>  <%= @buyer.move_time %></h3>
      <h3><strong>Why move time:</strong>  <%= @buyer.why_move_time %></h3>
    </div> <!-- card -->
  </div> <!-- row -->
  <div class="card padding-box full-width">
    <div class="row">
      <h1>Financial Information</h1>
      <h3><strong>Price range:</strong>  <%= @buyer.price_range %></h3>
      <h3><strong>Qualified:</strong>  <%= @buyer.qualified %></h3>
      <h3><strong>Lender:</strong>  <%= @buyer.lender %></h3>
      <h3><strong>Downpayment:</strong>  <%= @buyer.downpayment %></h3>
      <h3><strong>Monthly budget:</strong>  <%= @buyer.monthly_budget %></h3>
    </div> <!-- card -->
  </div> <!-- row -->
  <div class="card padding-box full-width">
    <div class="row">
      <h1>Home Search Info</h1>
      <h3><strong>Bedrooms:</strong>  <%= @buyer.bedrooms %></h3>
      <h3><strong>Square feet:</strong>  <%= @buyer.square_feet %></h3>
      <h3><strong>Units:</strong>  <%= @buyer.units %></h3>
      <h3><strong>Location:</strong>  <%= @buyer.location %></h3>
      <h3><strong>Style:</strong>  <%= @buyer.style %></h3>
      <h3><strong>Decision:</strong>  <%= @buyer.decision %></h3>
      <h3><strong>Requirements:</strong>  <%= @buyer.requirements %></h3>
      <h3><strong>Times:</strong>  <%= @buyer.times %></h3>
      <h3><strong>Communication:</strong>  <%= @buyer.communication %></h3>
      <h3><strong>Best time:</strong>  <%= @buyer.best_time %></h3>
      <h3><strong>Sites:</strong>  <%= @buyer.sites %></h3>
      <h3><strong>Other information:</strong>  <%= @buyer.other_information %></h3>
    </div> <!-- card -->
  </div> <!-- row -->

  <div class="buffer col-sm-12"></div>
