<p id="notice"><%= notice %></p>

<p>
  <strong>Buyer name:</strong>
  <%= @buyer.buyer_name %>
</p>

<p>
  <strong>Phone mobile:</strong>
  <%= @buyer.phone_mobile %>
</p>

<p>
  <strong>Phone home:</strong>
  <%= @buyer.phone_home %>
</p>

<p>
  <strong>Phone work:</strong>
  <%= @buyer.phone_work %>
</p>

<p>
  <strong>Phone fax:</strong>
  <%= @buyer.phone_fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @buyer.email %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @buyer.employer %>
</p>

<p>
  <strong>Search time:</strong>
  <%= @buyer.search_time %>
</p>

<p>
  <strong>Other agent:</strong>
  <%= @buyer.other_agent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @buyer.address %>
</p>

<p>
  <strong>Family size:</strong>
  <%= @buyer.family_size %>
</p>

<p>
  <strong>Own or rent:</strong>
  <%= @buyer.own_or_rent %>
</p>

<p>
  <strong>Current mortgage:</strong>
  <%= @buyer.current_mortgage %>
</p>

<p>
  <strong>Need sell:</strong>
  <%= @buyer.need_sell %>
</p>

<p>
  <strong>Lease length:</strong>
  <%= @buyer.lease_length %>
</p>

<p>
  <strong>Really liked:</strong>
  <%= @buyer.really_liked %>
</p>

<p>
  <strong>Why not:</strong>
  <%= @buyer.why_not %>
</p>

<p>
  <strong>Move time:</strong>
  <%= @buyer.move_time %>
</p>

<p>
  <strong>Why move time:</strong>
  <%= @buyer.why_move_time %>
</p>

<p>
  <strong>Price range:</strong>
  <%= @buyer.price_range %>
</p>

<p>
  <strong>Qualified:</strong>
  <%= @buyer.qualified %>
</p>

<p>
  <strong>Lender:</strong>
  <%= @buyer.lender %>
</p>

<p>
  <strong>Downpayment:</strong>
  <%= @buyer.downpayment %>
</p>

<p>
  <strong>Monthly budget:</strong>
  <%= @buyer.monthly_budget %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @buyer.bedrooms %>
</p>

<p>
  <strong>Square feet:</strong>
  <%= @buyer.square_feet %>
</p>

<p>
  <strong>Units:</strong>
  <%= @buyer.units %>
</p>

<p>
  <strong>Location:</strong>
  <%= @buyer.location %>
</p>

<p>
  <strong>Style:</strong>
  <%= @buyer.style %>
</p>

<p>
  <strong>Decision:</strong>
  <%= @buyer.decision %>
</p>

<p>
  <strong>Helper:</strong>
  <%= @buyer.helper %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @buyer.requirements %>
</p>

<p>
  <strong>Use as agent:</strong>
  <%= @buyer.use_as_agent %>
</p>

<p>
  <strong>Times:</strong>
  <%= @buyer.times %>
</p>

<p>
  <strong>Communication:</strong>
  <%= @buyer.communication %>
</p>

<p>
  <strong>Best time:</strong>
  <%= @buyer.best_time %>
</p>

<p>
  <strong>Sites:</strong>
  <%= @buyer.sites %>
</p>

<p>
  <strong>Other information:</strong>
  <%= @buyer.other_information %>
</p>

<%= link_to 'Edit', edit_buyer_path(@buyer) %> |
<%= link_to 'Back', buyers_path %>
