<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @intake.user %>
</p>

<p>
  <strong>Current own:</strong>
  <%= @intake.current_own %>
</p>

<p>
  <strong>Current rent:</strong>
  <%= @intake.current_rent %>
</p>

<p>
  <strong>Current monthly pay:</strong>
  <%= @intake.current_monthly_pay %>
</p>

<p>
  <strong>Looking for:</strong>
  <%= @intake.looking_for %>
</p>

<p>
  <strong>Areas:</strong>
  <%= @intake.areas %>
</p>

<p>
  <strong>Amenities:</strong>
  <%= @intake.amenities %>
</p>

<p>
  <strong>Price range:</strong>
  <%= @intake.price_range %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @intake.bedrooms %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @intake.reason %>
</p>

<p>
  <strong>Looking time:</strong>
  <%= @intake.looking_time %>
</p>

<p>
  <strong>Other agent:</strong>
  <%= @intake.other_agent %>
</p>

<p>
  <strong>Other agent name:</strong>
  <%= @intake.other_agent_name %>
</p>

<p>
  <strong>Seen liked:</strong>
  <%= @intake.seen_liked %>
</p>

<p>
  <strong>Seen no buy:</strong>
  <%= @intake.seen_no_buy %>
</p>

<p>
  <strong>When moved:</strong>
  <%= @intake.when_moved %>
</p>

<p>
  <strong>Best times:</strong>
  <%= @intake.best_times %>
</p>

<p>
  <strong>Price min:</strong>
  <%= @intake.price_min %>
</p>

<p>
  <strong>Price max:</strong>
  <%= @intake.price_max %>
</p>

<p>
  <strong>Buying with:</strong>
  <%= @intake.buying_with %>
</p>

<p>
  <strong>Downpayment:</strong>
  <%= @intake.downpayment %>
</p>

<p>
  <strong>Source:</strong>
  <%= @intake.source %>
</p>

<p>
  <strong>Budget monthly:</strong>
  <%= @intake.budget_monthly %>
</p>

<p>
  <strong>Met lender:</strong>
  <%= @intake.met_lender %>
</p>

<p>
  <strong>Preapproved:</strong>
  <%= @intake.preapproved %>
</p>

<p>
  <strong>Preapproved amount:</strong>
  <%= @intake.preapproved_amount %>
</p>

<%= link_to 'Edit', edit_intake_path(@intake) %> |
<%= link_to 'Back', intakes_path %>
