<%= simple_form_for(@info) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="form-group col-xs-12 col-sm-6">
      <%= f.label "First Name" %>
      <%= f.text_field :first_name, class: "form-control", required: true %>
    </div>
    <div class="form-group col-xs-12 col-sm-6">
      <%= f.label "Last Name" %>
      <%= f.text_field :last_name, class: "form-control", required: true %>
    </div>
    <div class="form-group col-xs-12 col-sm-6">
      <%= f.label "Email" %>
      <%= f.text_field :email, class: "form-control", required: true %>
    </div>
    <div class="form-group col-xs-12 col-sm-6">
      <%= f.label "Phone" %>
      <%= f.text_field :phone, class: "form-control", required: true %>
    </div>
    <div class="form-group col-xs-12">
      <%= f.label "What type of loan do you want?" %>
      <%= f.input :goal, collection: %w[Refinance\ My\ Home New\ Home\ Loan], label: false %>
    </div>
    <div class="form-group col-xs-12">
      <%= f.label "What type of home will the loan be for?" %>
      <%= f.input :residence_type, collection: %w[Single\ Family Multi-Family Condominium Townhouse], label: false %>
    </div>
    <div class="form-group col-xs-12">
      <%= f.label "What type of residence is this for?" %>
      <%= f.input :residence_use, collection: %w[Primary\ Residence Secondary\ Home Investment\ Property], label: false %>
    </div>
    <div class="form-group col-xs-12">
      <%= f.label "What's the timeframe for your loan?" %>
      <%= f.input :timeframe, collection: %w[Immediately\ (Purchase Agreement Already Signed) ASAP\ (Found\ a\ House/Offer\ Pending Within\ 30\ Days 2-3\ Months 3-6\ Months 6+\ Months No\ Time\ Frame)], label: false %>
    </div>
    <div class="form-group col-xs-12">
      <%= f.label "Is this your first time buying a home?" %>
      <%= f.input :first_time, collection: %w[Yes No], label: false %>
    </div>
    <div class="form-group col-xs-12">
      <%= f.label "Are you now or have you ever served in the US military?" %>
      <%= f.input :military, collection: %w[Yes No], label: false %>
    </div>
    <div class="form-group col-xs-12">
      <%= f.label "Are you currently working with a realtor?" %>
      <%= f.input :agent, collection: %w[Yes No], label: false %>
    </div>
    <div class="form-group col-xs-12">
      <%= f.label "What's the purchase price of your new home?" %>
      <%= f.text_field :purchase_price, class: "form-control" %>
    </div>
    <div class="form-group col-xs-12">
      <%= f.label "What's your estimated downpayment?" %>
      <%= f.text_field :downpayment, class: "form-control" %>
    </div>
    <div class="form-group col-xs-12">
      <%= f.label "What's your credit score?" %>
      <%= f.text_field :credit_score, class: "form-control" %>
    </div>
    <div class="form-group col-xs-12">
      <%= f.label "How many late mortgage payments have you made in the last 12 months?" %>
      <%= f.text_field :late_payments, class: "form-control" %>
    </div>
    <div class="form-group col-xs-12">
      <%= f.label "Have you had any foreclosures in the last 3 years?" %>
      <%= f.text_field :foreclosures, class: "form-control" %>
    </div>
    <div class="form-group col-xs-12">
      <%= f.label "Have you had any bankruptcy in the last 3 years?" %>
      <%= f.text_field :bankruptcy, class: "form-control" %>
    </div>
  </div>

  <div class="form-actions text-center">
    <%= f.button :submit %>
  </div>
<% end %>
