<div class="container">

  <h1 class="text-center">Prequalification Surveys</h1>

  <table class="lined-table">
    <tbody>
      <% @infos.each do |info| %>
        <tr>
          <td>
            <strong><%= info.first_name %> <%= info.last_name %></strong><br />
            <%= mail_to info.email %><br />
            <%= info.phone %><br />
            <%= link_to 'Show', info %> | <%= link_to 'Edit', edit_info_path(info) %> | <%= link_to 'Destroy', info, method: :delete, data: { confirm: 'Are you sure?' } %><br />
            <strong>Goal:</strong> <%= info.goal %><br />
            <strong>Residence Type</strong>:<%= info.residence_type %><br />
            <strong>Use:</strong> <%= info.residence_use %><br />
            <strong>Timeframe:</strong> <%= info.timeframe %>
          </td>
          <td>
            <strong>Price:</strong> <%= info.purchase_price %><br />
            <strong>Down:</strong> <%= info.downpayment %><br />
            <strong>Credit Score:</strong> <%= info.credit_score %><br />
            <strong>Late Payments:</strong> <%= info.late_payments %><br />
            <strong>Foreclosures:</strong> <%= info.foreclosures %><br />
            <strong>Bankruptcies:</strong> <%= info.bankruptcy %><br />
            <strong>First Time:</strong> <%= info.first_time %><br />
            <strong>Military:</strong> <%= info.military %><br />
            <strong>Agent:</strong> <%= info.agent %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
