<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @info.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @info.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @info.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @info.phone %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @info.goal %>
</p>

<p>
  <strong>Residence type:</strong>
  <%= @info.residence_type %>
</p>

<p>
  <strong>Residence use:</strong>
  <%= @info.residence_use %>
</p>

<p>
  <strong>Timeframe:</strong>
  <%= @info.timeframe %>
</p>

<p>
  <strong>First time:</strong>
  <%= @info.first_time %>
</p>

<p>
  <strong>Military:</strong>
  <%= @info.military %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @info.agent %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= @info.purchase_price %>
</p>

<p>
  <strong>Downpayment:</strong>
  <%= @info.downpayment %>
</p>

<p>
  <strong>Credit score:</strong>
  <%= @info.credit_score %>
</p>

<p>
  <strong>Late payments:</strong>
  <%= @info.late_payments %>
</p>

<p>
  <strong>Foreclosures:</strong>
  <%= @info.foreclosures %>
</p>

<p>
  <strong>Bankruptcy:</strong>
  <%= @info.bankruptcy %>
</p>

<p>
  <strong>Read:</strong>
  <%= @info.read %>
</p>

<p>
  <strong>Archived:</strong>
  <%= @info.archived %>
</p>

<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
