<footer class="page-footer font-small pt-4">
  <div class="container text-center text-md-left">
    <div class="row">

      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">
          Linchpin Realty
        </h5>
        <p>
          DRE #02018158
          <br>NMLS #1649295
        </p>
      </div> <!-- Grid column -->


      <hr class="clearfix w-100 d-md-none">


      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/LinchpinRealty/reviews/" target="_blank" onclick="ga('send',{'hitType': 'event','eventCategory': 'social', 'eventAction': 'Footer Facebook Rate'})">Rate Me on Facebook</a>
          </li>
          <li>
            <a href="https://www.zillow.com/reviews/write/?s=X1-ZU11qjqez6ipiq1_4zss5" target="_blank" onclick="ga('send',{'hitType': 'event','eventCategory': 'social', 'eventAction': 'Footer Zillow Rate'})">Review Me on Zillow</a>
          </li>
          <li><%= link_to "Contact Us", new_contact_path %></li>

        </ul>

      </div> <!-- Grid column -->



      <hr class="clearfix w-100 d-md-none">



      <!-- Grid column -->
      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Get More Info</h5>
        <ul class="list-unstyled">
          <li><%= link_to "Buy a House", page_path('buy') %></li>
          <li><%= link_to "Sell My House", page_path('sell') %></li>
          <li><%= link_to "Get a Loan", page_path('loan') %></li>
          <li><%= link_to "Refinance My Mortgage", page_path('mortgage') %></li>
        </ul>
      </div> <!-- Grid column -->


    </div> <!-- Grid row -->
  </div> <!-- Footer Links -->



  <hr class="hr-grey">



  <!-- Call to action -->
  <h2 class="text-center text-white">Want a More Info? Get a Free Consultation!</h2>
  <ul class="list-unstyled list-inline text-center py-2">
    <div class="container">
      <li class="list-inline-item">
        <%= render partial: "subscribers/mini_form", locals: { subscriber: @new_subscriber, tag_string: "footer-subscribe" } %>
      </li>
    </div> <!-- container -->
  </ul>
  <!-- Call to action -->


  <hr class="hr-grey">


  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center footer-social">
    <a href="tel:+1-949-524-1246" onclick="ga('send',{'hitType': 'event','eventCategory': 'social', 'eventAction': 'Footer Phone'})"><span class="icon glyphicon glyphicon-earphone" style="font-size: 30px; color: white"></a>
    <a href="mailto:anthony@linchpinrealty.com" onclick="ga('send',{'hitType': 'event','eventCategory': 'social', 'eventAction': 'Footer Email'})"><i class="color-white icon ion-email"></i></a>
    <a href="https://www.facebook.com/LinchpinRealty" target="_blank" onclick="ga('send',{'hitType': 'event','eventCategory': 'social', 'eventAction': 'Footer Facebook'})"><i class="color-white icon ion-social-facebook" target="_blank"></i></a>
    <a href="https://www.instagram.com/linchpinrealty/" target="_blank" onclick="ga('send',{'hitType': 'event','eventCategory': 'social', 'eventAction': 'Footer Instagram'})"><i class="color-white icon ion-social-instagram" target="_blank"></i></a>
    <a href="https://www.linkedin.com/in/anthonybayardelle/" target="_blank"><i class="color-white icon ion-social-linkedin" onclick="ga('send',{'hitType': 'event','eventCategory': 'social', 'eventAction': 'Footer LinkedIn'})"></i></a>
    <a href="https://twitter.com/LinchpinRealty" target="_blank"><i class="color-white icon ion-social-twitter" onclick="ga('send',{'hitType': 'event','eventCategory': 'social', 'eventAction': 'Footer Twitter'})"></i></a>
    <a href="https://plus.google.com/u/2/106755620722304807106" target="_blank"><i class="color-white icon ion-social-googleplus" onclick="ga('send',{'hitType': 'event','eventCategory': 'social', 'eventAction': 'Footer Google'})"></i></a>
    <a href="https://www.youtube.com/channel/UCWgiHPtxXbwJbp7b_EX-QYg" target="_blank"><i class="color-white icon ion-social-youtube" onclick="ga('send',{'hitType': 'event','eventCategory': 'social', 'eventAction': 'Footer YouTube'})"></i></a>
    <a href="https://www.pinterest.com/LinchpinRealty" target="_blank"><i class="color-white icon ion-social-pinterest" onclick="ga('send',{'hitType': 'event','eventCategory': 'social', 'eventAction': 'Footer Pinterest'})"></i></a>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© <%= Date.today.year %> Copyright:
    <a href="https://linchpinrealty.com"> Linchpin Realty, LLC</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
