<div id="main-nav" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to root_path, class:"navbar-brand", onclick: "ga('send',{'hitType': 'event','eventCategory': 'nav', 'eventAction': 'Click Header Logo Home'})" do %>
              <%= image_tag "portrait-square.jpg", alt: "Anthony Bayardelle", style: "height: 60px; display: inline-block" %>
              <%= image_tag "logo_words.png", alt: "Linchpin Realty Logo", style: "height: 60px; display: inline-block; box-shadow: none" %><br />
          <% end %>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
          <div class="text-right" style="padding: 10px 5px 0 0">
            <span class="color-blue-light font-sans text-right"><strong>Your guide to the OC housing market.</strong></span>
          </div>
          <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home", root_path, class: "center-ul-hover", onclick: "ga('send',{'hitType': 'event','eventCategory': 'nav', 'eventAction': 'Click Main Nav Home'})" %></li>
              <li><%= link_to "Blog", blogs_path, class: "center-ul-hover", onclick: "ga('send',{'hitType': 'event','eventCategory': 'nav', 'eventAction': 'Click Main Nav Blog'})" %></li>

              <li class="dropdown">
                <%= link_to 'For Buyers', class: "center-ul-hover" %>
                <ul class="dropdown-menu">
                  <% @pillars = Pillar.where(active: true, menu: true, buyer: true).order('created_at ASC') %>
                  <% @pillars.each do |pillar| %>
                    <li><%= link_to pillar.name, pillar_path(pillar) %></li>
                  <% end %>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to 'TOOL: Online Home Search', page_path('search'), class: "center-ul-hover", onclick: "ga('send',{'hitType': 'event','eventCategory': 'nav', 'eventAction': 'Click Main Nav Search'})" %></li>
                </ul>
              </li>

              <li><%= link_to "Contact Me", new_contact_path, class: "center-ul-hover", onclick: "ga('send',{'hitType': 'event','eventCategory': 'nav', 'eventAction': 'Click Main Nav Contact Me'})" %></li>

              <% if current_user %>
                <li class="dropdown"><%= link_to "Dashboard", user_path(current_user), class: "center-ul-hover", onclick: "ga('send',{'hitType': 'event','eventCategory': 'nav', 'eventAction': 'Click Main Nav Dashboard'})" %>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Pillars', pillars_path %></li>
                  </ul>
                </li>
              <% else %>
                <li class="dropdown">
                  <%= link_to 'My Account', new_user_registration_path, class: "center-ul-hover", onclick: "ga('send',{'hitType': 'event','eventCategory': 'nav', 'eventAction': 'Click Main Nav My Account'})" %>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Sign In', new_user_session_path, onclick: "ga('send',{'hitType': 'event','eventCategory': 'nav', 'eventAction': 'Click Main Nav Sign In'})" %></li>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to 'Create an Account', new_user_registration_path, onclick: "ga('send',{'hitType': 'event','eventCategory': 'nav', 'eventAction': 'Click Main Nav Create Account'})" %></li>
                  </ul>
                </li>
              <% end %>
          </ul>
        </div>
    </div>
</div>
